body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.8vw;
    background: linear-gradient(rgba(19, 35, 47, 0.95), rgba(19, 35, 47, 0.95)), url('../images/movie-poster.jpg') no-repeat center fixed;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

div#wrapper {
    margin-top: 5vh;
    background: rgba(63, 95, 118, 0.43);
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

div#wrapper > h1 {
    padding-left: 11px;
    color: white;
}


div.information > * {
    color: white;
    font-size: 1vw;
    text-decoration: none;
    text-align: left;
    padding: 10px 22px;
    border: none;
    outline: none;
}

div.information > *:not(:last-child):hover {
    cursor: pointer;
    text-decoration: underline;
}

div.information :first-child {
    padding-top: 22px;
}

div.information :last-child {
    padding-bottom: 30px;
}

#wrapper button, #submitBtn {
    background: inherit;
    color: white;
    padding: 16px;
    margin-bottom: 1vh;
    font-size: 16px;
    border: 1px solid #1ab188;
    border-radius: 10px;
    width: 70%;
    align-self: center;
}

#wrapper button:hover, #submitBtn:hover {
    background-color: #1ab188;
    cursor: pointer;
}

ul {
    margin: 0;
    padding-inline-start: 0;
    list-style-type: none;
    align-self: center;
    width: 90%;
}

ul > * {
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 22px;
    display: flex;
    background: rgba(13, 27, 36, 0.99);
    margin-bottom: 0.5vh;
    border: none;
    outline: none;
    border-radius: 10px;
}

ul > li > img {
    height: 10vh;
    padding-right: 2vw;
}

body > div > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li > button {
    justify-self: flex-end;
    position: relative;
    cursor: pointer;
    align-self: center;
    background: inherit;
    border: none;
    color: white;
    font-size: 30px;
    border-radius: inherit;
}


#changeMenu, #addMenu {
    display: none;
    border-radius: 25px;
    position: fixed;
    width: 30vw;
    height: 35vh;
    margin-top: 5vh;
    background: rgba(13, 27, 36, 0.99);
    animation: .3s ease-out growFromCenter;

}

@keyframes growFromCenter {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

#changeMenu > *, #addMenu > * {
    color: white;
    font-size: 1.5vh;
}

#changeForm {
    margin-left: 10px;
    display: grid;
    grid-template-areas:
            'flabel .'
            'ffield .'
            'slabel .'
            'sfield .'
            'tlabel .'
            'tfield .';
}

#changeForm > input {
    margin-bottom: 22px;
}

#changeForm > label {
    margin-bottom: 10px;
}

#changeUsernameForm, #changeEmailForm, #changePasswordForm {
    display: none;
}

#newUsernameLabel {
    grid-area: newUsernameLabel;
}

#newUsername {
    grid-area: newUsername;
}

#newEmailLabel {
    grid-area: newEmailLabel;
}

#newEmail {
    grid-area: newEmail;
}

#changeEmailPasswordLabel {
    grid-area: changeEmailPasswordLabel;
}

#changeEmailPassword {
    grid-area: changeEmailPassword;
}

#oldPasswordLabel {
    grid-area: oldPasswordLabel;
}

#oldPassword {
    grid-area: oldPassword;
}

#newPasswordLabel {
    grid-area: newPasswordLabel;
}

#newPassword {
    grid-area: newPassword;
}

#confirmedNewPasswordLabel {
    grid-area: confirmedNewPasswordLabel;
}

#confirmedNewPassword {
    grid-area: confirmedNewPassword;
}

.submitBtn {
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    font-size: 2vh;
    display: none;
}

#top-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-right: 10px;
}

#top-menu button {
    cursor: pointer;
    position: absolute;
    background: inherit;
    border: none;
    color: white;
    font-size: 30px;
    border-radius: inherit;
}

@media only screen and (max-width: 1024px) {

}